@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Prompt", sans-serif;
}
/*+++++++++ Banner ++++++++*/
.banner {
  background-image: url(../assets/BG3-landingpage\ 1.png);
  background-position: center;
  background-size: cover;
}

.f-56 {
  font-size: 56px;
}
.f-48 {
  font-size: 48px;
}
.f-32 {
  font-size: 32px;
}
.f-18 {
  font-size: 18px;
}
.f-16 {
  font-size: 16px;
}
.f-14 {
  font-size: 14px;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg) translateY(15px);
  }

  50% {
    transform: rotate(3deg);
  }
}

.animate-wiggle {
  animation: wiggle 5s linear infinite;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2.5s;
}

.delay-3 {
  animation-delay: 4s;
}

.box-1 {
  background-color: #08d3bb;
}
.box-2 {
  background-color: #1090cb;
}
.box-3 {
  background-color: #9208d3;
}
.box-4 {
  background-color: #fff;
}

.bg-app {
  background: linear-gradient(180deg, #0070f2 0%, #4b48e5 100%);
}
.bg-app .bg {
  background-image: url("../assets/Phone mock up@2x.png");
  background-size: cover;
}
.bg-footer {
  background: linear-gradient(180deg, #2925cc 0%, #4b48e5 100%);
}

.block-3 {
  background-image: url("../assets/block3 Image Animation.png");
  background-repeat: no-repeat;
  background-position: right;
}
